.left {
  /*float: left;*/
}

.right{
  /*float: right;*/
  display: inline;
}

.logo{
  text-decoration: none;
  padding-left: 50px;
}


.mytoolbar {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    /*overflow:hidden;*/
}

li {
  list-style: none;
  display: inline;
  padding-right: 15px;
  padding-top: 10px;

}

a {
  text-decoration: none;
}


li:hover {
    background-color: #33CCCC;
}

/*width: 100vw;
height: 100vh;
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;*/

.row {
background-image: url("../img/2.png");
text-align: left;
background-repeat: no-repeat;
height: 800px;
background-size: cover;
background-position: center;
margin-top: 0px;
}

#slider{
  font-size:0px;
  color: white;
  padding-left: 40px;
}

.row p {
  font-size:90px;
    padding-top: 5%;
    color: white;
    padding-left: 10px;
}
